<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @user.name %>さんとのチャット</h2>
      <%= render "chats/form", chat: @chat %>
      <table class=" table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
            <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
          </tr>
        </thead>
        <tbody id="chat_message">
          <%= render 'chats/chat_table', chats: @chats %>
        </tbody>
      </table>
    </div>
  </div>
</div>
